<ion-side-menus>
  	<ion-pane ion-side-menu-content>
  		<ion-nav-bar class="bar-dark">
  			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>  			
  		</ion-nav-bar>
  		<ion-nav-view name="mainContent"></ion-nav-view>
  	</ion-pane ion-side-menu-content> 

	<ion-side-menu side="left">
		<header class="bar bar-header bar-dark">
	    	<h1 class="title">Footyboard</h1>
	    </header>
	    <ion-content class="has-header">
	    	<ion-list>
	    		<ion-item nav-clear menu-close>Home</ion-item>	
	    		<ion-item nav-clear menu-close>Schedule</ion-item>
	    		<ion-item nav-clear menu-close>Teams</ion-item>	
	    		<ion-item nav-clear menu-close>Standings</ion-item>	
	    		<ion-item nav-clear menu-close>Locations</ion-item>	
	    		<ion-item nav-clear menu-close>Drills</ion-item>	
	    		<ion-item nav-clear menu-close>Rules</ion-item>	
	    	</ion-list>
	    </ion-content>
	</ion-side-menu>

	<ion-side-menu side="right">
		<header class="bar bar-header bar-dark">
	    	<h1 class="title">User FootyBoard</h1>
	    </header>
	    <ion-content class="has-header">
	    	<ion-list>
	    		<ion-item nav-clear menu-close>Home</ion-item>	
	    		<ion-item nav-clear menu-close>Schedule</ion-item>
	    		<ion-item nav-clear menu-close>Roster</ion-item>
	    		<ion-item nav-clear menu-close>Photos</ion-item>	
	    		<ion-item nav-clear menu-close>Stats</ion-item>	
	    		<ion-item nav-clear menu-close>Prefernces</ion-item>	
	    		<ion-item nav-clear menu-close>History</ion-item>	
	    	</ion-list>
	    </ion-content>
	</ion-side-menu>
</ion-side-menus>
